body {
    background-color: beige;
  }

header {
    background-color: lightblue;
    text-align: center;
  }

.h1 {
  font-family: 'Montserrat', sans-serif;
  
}
/* main{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    

} */
div .one{
    display: grid;
}