body {
    background-color: beige;
  }

header {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    
  }
  .head1{
      margin-right: 20px;
  }

.h1 {
  font-family: 'Montserrat', sans-serif;
  
}

main > div{
    margin-bottom: 70px;
}
.one{
    display: grid;
    grid-template-columns: 3fr 4fr;
    border-bottom: 2px solid lightgray;
}
.two{
    display: grid;
    grid-template-columns: 3fr 4fr;
    border-bottom: 2px solid lightgray;
}
.three{
    display: grid;
    grid-template-columns: 3fr 4fr;
}